.footer {
  background-color: $purple-200;
  padding: 27px 220px 27px 204px;

  .footer-content {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-item {
    font-weight: 500;
    line-height: 45px;
  }
}
