$text-primary: #ffffff;
$purple-100: #beb9ff;
$purple-200: #d87ff6;
$purple-400: #b47ff6;
$purple-600: #7029cb;
$green-200: #d4ff5a;
$green-300: #00ff4a;
$green-400: #3ade4b;
$green-600: #497957;
$blue: #a6c9ff;
$red: #ff4b4b;
